startup --host_jvm_args=-Xms768m --host_jvm_args=-Xmx2g --host_jvm_args=-Xss256k

# Make sure we get something helpful when tests fail
test --verbose_failures
test --test_output=errors
build --java_language_version=21
build --strategy=KotlinCompile=worker
